@model Servicio
<h1>Detalles</h1>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span>Titulo</span>
        </dt>
        <dd class="col-sm-10">
            <span>Titulo</span>
        </dd>
        <dt class="col-sm-2">
            <span>Descripcion</span>
        </dt>
        <dd class="col-sm-10">
            <span>Descripcion</span>
        </dd>
        <dt class="col-sm-2">
            <span>Categoria</span>
        </dt>
        <dd class="col-sm-10">
            <span>Categoria</span>
        </dd>
        <dt class="col-sm-2">
            <span>NivelDificultad</span>
        </dt>
        <dd class="col-sm-10">
            <span>NivelDificultad</span>
        </dd>
        <dt class="col-sm-2">
            <span>DuracionEstimada</span>
        </dt>
        <dd class="col-sm-10">
            <span>DuracionEstimada</span>
        </dd>
        <dt class="col-sm-2">
            <span>FechaDisponibilidad</span>
        </dt>
        <dd class="col-sm-10">
            <span>FechaDisponibilidad</span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-action-id="Servicio.Id">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
