@model SeccionServicio

<h1>Crear Servicio</h1>

<h4> SecciónServicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="form-group">
                <span> ServicioID</span>
                <span> ServicioID</span>
                <span> ServicioID</span>
            </div>
            <div class="form-group">
                <span> Titulo</span>
                <span> Titulo</span>
                <span>Titulo</span>
            </div>
            <div class="form-group">
                <span>Contenido</span>
                <span>Contenido</span>
                <span>Contenido</span>
            </div>
            <div class="form-group">
                <span>Recursos</span>
                <span>Recursos</span>
                <span>Recursos</span>
            </div>
        <div>
    <a asp-action="Editar" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
